/* Resets and base styles from HTML5 Boilerplate */
div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

select, input, textarea, button {
  font: 99% sans-serif; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

a {
  -webkit-tap-highlight-color: transparent; }
  a:hover, a:active {
    outline: none; }

ul, ol {
  margin-left: 0em;
  vertical-align: top; }

ol {
  list-style-type: decimal; }

nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td {
  vertical-align: top; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

textarea {
  overflow: auto; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }
  input:invalid .no-boxshadow, textarea:invalid .no-boxshadow {
    background-color: #f0dddd; }

button {
  width: auto;
  overflow: visible; }

select, input, textarea {
  color: #444; }

a {
  color: #607890; }
  a:hover, a:focus {
    color: #036; }
  a:link {
    -webkit-tap-highlight-color: #fff; }

/* End HTML5 Boilerplate adaptations */
h1 {
  font-size: 4.5em; }

h1, .vcenter {
  font-weight: bold;
  text-align: center;
  padding-top: 1em;
  max-height: 100%; }
  .csstransforms h1, .csstransforms .vcenter {
    padding: 0 48px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%); }

.vcenter h1 {
  position: relative;
  top: auto;
  padding: 0;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none; }

h2 {
  font-size: 2.25em;
  font-weight: bold;
  padding-top: .5em;
  margin: 0 0 .66666em 0;
  border-bottom: 3px solid #888; }

h3 {
  font-size: 1.4375em;
  font-weight: bold;
  margin-bottom: .30435em; }

h4 {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: .25em; }

h5 {
  font-size: 1.125em;
  font-weight: bold;
  margin-bottom: .2222em; }

h6 {
  font-size: 1em;
  font-weight: bold; }

img, iframe, video {
  display: block;
  max-width: 100%; }

video, iframe, img {
  display: block;
  margin: 0 auto; }

p, blockquote, iframe, img, ul, ol, pre, video {
  margin-bottom: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 1em;
  border: 1px solid #888; }

em {
  font-style: italic; }

li {
  padding: .25em 0;
  vertical-align: middle; }
  li > ol, li > ul {
    margin-bottom: inherit; }

.deck-container {
  font-size: 16px;
  line-height: 1.25;
  color: #444; }

.slide {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: 'LaskiSlab-Bold';
  src: url("./fonts/LaskiSlab-Bold.eot");
  /* IE9 Compat Modes */
  src: url("./fonts/LaskiSlab-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/LaskiSlab-Bold.woff2") format("woff2"), url("./fonts/LaskiSlab-Bold.woff") format("woff"), url("./fonts/LaskiSlab-Bold.ttf") format("truetype"), url("./fonts/LaskiSlab-Bold.svg") format("svg");
  /* Legacy iOS */
  font-weight: bold;
  font-style: normal; }
/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: 'LaskiSlab-ExtraLight';
  src: url("./fonts/LaskiSlab-ExtraLight.eot");
  /* IE9 Compat Modes */
  src: url("./fonts/LaskiSlab-ExtraLight.eot?#iefix") format("embedded-opentype"), url("./fonts/LaskiSlab-ExtraLight.woff2") format("woff2"), url("./fonts/LaskiSlab-ExtraLight.woff") format("woff"), url("./fonts/LaskiSlab-ExtraLight.ttf") format("truetype"), url("./fonts/LaskiSlab-ExtraLight.svg") format("svg");
  /* Legacy iOS */
  font-weight: 200;
  font-style: normal; }
/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: 'LaskiSlab-Bold';
  src: url("./fonts/LaskiSlab-Regular.eot");
  /* IE9 Compat Modes */
  src: url("./fonts/LaskiSlab-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/LaskiSlab-Regular.woff2") format("woff2"), url("./fonts/LaskiSlab-Regular.woff") format("woff"), url("./fonts/LaskiSlab-Regular.ttf") format("truetype"), url("./fonts/LaskiSlab-Regular.svg") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }
/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: 'bloc';
  src: url("./fonts/pt-bloc-cyrillic.eot");
  /* IE9 Compat Modes */
  src: url("./fonts/pt-bloc-cyrillic.eot?#iefix") format("embedded-opentype"), url("./fonts/pt-bloc-cyrillic.woff2") format("woff2"), url("./fonts/pt-bloc-cyrillic.woff") format("woff"), url("./fonts/pt-bloc-cyrillic.ttf") format("truetype"), url("./fonts/pt-bloc-cyrillic.svg") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }
p {
  color: #6C6C6C; }

pre {
  border-color: #ccc; }

code {
  color: #888; }

blockquote {
  font-size: 2em;
  font-style: italic;
  padding: 1em 2em;
  color: #000;
  border-left: 5px solid #ccc; }
  blockquote p {
    margin: 0; }
  blockquote cite {
    font-size: .5em;
    font-style: normal;
    font-weight: bold;
    color: #888; }

::-moz-selection {
  background: #a2a2a2;
  color: #fff; }

::selection {
  background: #a2a2a2;
  color: #fff; }

a, a:hover, a:focus, a:active, a:visited {
  color: #284019;
  text-decoration: none; }
a:hover, a:focus {
  text-decoration: underline; }

a.tab-button {
  margin: 1em auto 3em;
  display: inline-block;
  font-family: bloc;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.1em;
  color: #284019;
  background-color: #DCDEE3;
  padding: .9em 2.5em .6em;
  border-radius: 8px; }

.info-box {
  margin: 2em 0 4em 0;
  padding: 2em 3em;
  background: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: left; }
  .info-box.narrow {
    float: left;
    display: block;
    margin-right: 4.8291579146%;
    width: 65.0569473618%;
    margin-left: 17.4715263191%; }
    .info-box.narrow:last-child {
      margin-right: 0; }
  .info-box h4 {
    margin: 0.5em 0; }

.align-left {
  float: left;
  clear: left;
  margin: 1em 2em 1em 0; }

.logo {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 3;
  margin: 0; }

/*
**************************************************
*/
h1, h2, h3 {
  color: #202020;
  font-family: LaskiSlab-ExtraLight;
  font-weight: 200;
  line-height: 110%; }

h2 {
  font-size: 3.5em;
  border: 0; }

h3.tab-title {
  margin: 2em auto;
  display: inline-block;
  text-transform: uppercase;
  font-family: bloc;
  font-size: 1.3em;
  font-weight: normal;
  letter-spacing: 0.1em;
  color: #fff;
  background-color: #67A242;
  padding: 0.7em 1.5em 0.4em;
  border-bottom: 7px #284019 solid; }

h4 {
  font-weight: bold;
  font-size: 1.5em;
  margin: 2em 0 .6em; }

.intro {
  font-size: 1.25em;
  line-height: 180%; }

strong, th {
  font-family: LaskiSlab-Bold;
  font-weight: bold; }

/*
**************************************************
*/
.deck-container {
  font-family: LaskiSlab-Regular, Georgia, sans-serif;
  font-size: .875em;
  line-height: 155%;
  letter-spacing: 0.0125em;
  background: #fff;
  max-width: 1313px;
  margin-left: auto;
  margin-right: auto; }
  .deck-container::after {
    clear: both;
    content: "";
    display: table; }
  .deck-container > .slide {
    padding: 0 48px; }
  .deck-container header, .deck-container footer {
    text-align: center; }
    @media screen and (min-width: 768px) {
      .deck-container header, .deck-container footer {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 65.8807828007%;
        margin-left: 17.0596085997%; }
        .deck-container header:last-child, .deck-container footer:last-child {
          margin-right: 0; } }
  .deck-container ul.columns li {
    list-style: none;
    padding: 2em 0; }
    @media screen and (min-width: 768px) {
      .deck-container ul.columns li {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 31.7615656014%;
        padding: 7px; }
        .deck-container ul.columns li:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 768px) {
      .deck-container ul.columns li.last-two {
        margin-left: 17.0596085997%; } }

.slide .deck-before, .slide .deck-previous {
  opacity: 0.4; }
  .slide .deck-before:not(.deck-child-current) .deck-before, .slide .deck-before:not(.deck-child-current) .deck-previous, .slide .deck-previous:not(.deck-child-current) .deck-before, .slide .deck-previous:not(.deck-child-current) .deck-previous {
    opacity: 1; }
.slide .deck-child-current {
  opacity: 1; }

.deck-prev-link, .deck-next-link {
  background: #ccc;
  font-family: serif; }
  .deck-prev-link, .deck-prev-link:hover, .deck-prev-link:focus, .deck-prev-link:active, .deck-prev-link:visited, .deck-next-link, .deck-next-link:hover, .deck-next-link:focus, .deck-next-link:active, .deck-next-link:visited {
    color: #fff; }
  .deck-prev-link:hover, .deck-prev-link:focus, .deck-next-link:hover, .deck-next-link:focus {
    background: #aaa;
    text-decoration: none; }

.deck-status {
  font-size: 0.6666em; }

.deck-menu .slide {
  background: #eee; }
.deck-menu .deck-current, .no-touch .deck-menu .slide:hover {
  background: #ddf; }
