
/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: 'LaskiSlab-Bold';
  src: url('./fonts/LaskiSlab-Bold.eot'); /* IE9 Compat Modes */
  src: url('./fonts/LaskiSlab-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/LaskiSlab-Bold.woff2') format('woff2'), /* Modern Browsers */
    url('./fonts/LaskiSlab-Bold.woff') format('woff'), /* Modern Browsers */
    url('./fonts/LaskiSlab-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/LaskiSlab-Bold.svg') format('svg'); /* Legacy iOS */  font-weight: bold;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: 'LaskiSlab-ExtraLight';
  src: url('./fonts/LaskiSlab-ExtraLight.eot'); /* IE9 Compat Modes */
  src: url('./fonts/LaskiSlab-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/LaskiSlab-ExtraLight.woff2') format('woff2'), /* Modern Browsers */
    url('./fonts/LaskiSlab-ExtraLight.woff') format('woff'), /* Modern Browsers */
    url('./fonts/LaskiSlab-ExtraLight.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/LaskiSlab-ExtraLight.svg') format('svg'); /* Legacy iOS */  font-weight: 200;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: 'LaskiSlab-Bold';
  src: url('./fonts/LaskiSlab-Regular.eot'); /* IE9 Compat Modes */
  src: url('./fonts/LaskiSlab-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/LaskiSlab-Regular.woff2') format('woff2'), /* Modern Browsers */
    url('./fonts/LaskiSlab-Regular.woff') format('woff'), /* Modern Browsers */
    url('./fonts/LaskiSlab-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/LaskiSlab-Regular.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: 'bloc';
  src: url('./fonts/pt-bloc-cyrillic.eot'); /* IE9 Compat Modes */
  src: url('./fonts/pt-bloc-cyrillic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/pt-bloc-cyrillic.woff2') format('woff2'), /* Modern Browsers */
    url('./fonts/pt-bloc-cyrillic.woff') format('woff'), /* Modern Browsers */
    url('./fonts/pt-bloc-cyrillic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/pt-bloc-cyrillic.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
}
